
# This file lists the Python packages required for the project.
apache-airflow
apache-airflow-providers-postgres
apache-airflow-providers-mongo
apache-airflow-providers-redis
apache-airflow-providers-docker
apache-airflow-providers-http

pendulum
beautifulsoup4
numpy
pandas
requests
scikit-learn
pymongo
psycopg2-binary
ipykernel
openpyxl
pytest
flask-appbuilder
graphviz
dask
pyarrow